<div style="background-color: #714B67; min-height: 600px; width: 100%; padding: 15px; position: relative;">
    <!-- TITLE BAR -->
    <div style="border-bottom: 1px solid #875A7B; padding: 15px; display: flex; justify-content: space-between; align-items: center;">
        <img src="assets/misc/cybrosys-logo.png" width="42" height="42"
             style="width: 42px; height: 42px;"/>
        <div>
            <div style="color: #7C7BAD; font-size: 14px; font-family: 'Montserrat', sans-serif; font-weight: bold; background-color: white; display: inline-block; padding: 3px 10px; border-radius: 50px;"
                 class="mr-2">
                <i class="fa fa-check mr-1"></i>Community
            </div>
            <div style="color: #875A7B; font-size: 14px; font-family: 'Montserrat', sans-serif; font-weight: bold; background-color: white; display: inline-block; padding: 3px 10px; border-radius: 50px;"
                 class="mr-2">
                <i class="fa fa-check mr-1"></i>Enterprise
            </div>
            <div style="color: #017E84; font-size: 14px; font-family: 'Montserrat', sans-serif; font-weight: bold; background-color: white; display: inline-block; padding: 3px 10px; border-radius: 50px;"
                 class="mr-2">
                <i class="fa fa-check mr-1"></i>Odoo.sh
            </div>
        </div>
    </div>
    <!-- END OF TITLE BAR -->

    <!-- APP HERO -->
    <h1 style="color: #FFFFFF; font-weight: bolder; font-size: 50px; text-align: center; margin-top: 50px;">
        Chatter Camera</h1>
    <p style="color:#FFFFFF; padding: 8px 15px; text-align: center; font-size: 24px;">
        Capture image from chatter</p>
    <!-- END OF APP HERO -->
    <img src="assets/screenshots/hero.gif"
         style="width: 75%; height: auto; position: absolute; margin-left: auto; margin-right: auto; top: 45%; left: 12%; right: auto;"/>

</div>

<!-- NAVIGATION SECTION -->
<div class="d-flex align-items-center"
     style="border-bottom: 2px solid #714B67; padding: 15px 0px; margin-top: 300px;">
    <div class="d-flex justify-content-center align-items-center mr-2"
         style="background-color: #F5F5F5; border-radius: 0px; width: 40px; height: 40px;">
        <img src="assets/misc/compass.png"/>
    </div>
    <h2 class="mt-2"
        style="font-family: 'Montserrat', sans-serif; font-size: 24px; font-weight: bold;">
        Explore This
        Module</h2>
</div>
<div class="row my-4" style="font-family: 'Montserrat', sans-serif;">
    <div class="col-sm-12 col-md-6 my-3">
        <a href="#overview">
            <div class="d-flex justify-content-between align-items-center"
                 style="background-color: #f5f5f5; padding: 30px; width: 100%;">
                <div>
                    <span style="color: #714B67; font-size: 24px; font-weight: 500; display: block;">Overview</span>
                    <span
                            style="color: #714B67; font-size: 16px; font-weight: 400; color:#282F33;  display: block;">Learn
                        more about this
                        module</span>
                </div>
                <img src="assets/misc/right-arrow.png" width="36" height="36"/>
            </div>
        </a>
    </div>
    <div class="col-sm-12 col-md-6 my-3">
        <a href="#features">
            <div class="d-flex justify-content-between align-items-center"
                 style="background-color: #f5f5f5; padding: 30px; width: 100%;">
                <div>
                    <span style="color: #714B67; font-size: 24px; font-weight: 500; display: block;">Features</span>
                    <span
                            style="color: #714B67; font-size: 16px; font-weight: 400; color:#282F33;  display: block;">View
                        features of this
                        module</span>
                </div>
                <img src="assets/misc/right-arrow.png" width="36" height="36"/>
            </div>
        </a>
    </div>
    <div class="col-sm-12 col-md-6 my-3">
        <a href="#screenshots">
            <div class="d-flex justify-content-between align-items-center"
                 style="background-color: #f5f5f5; padding: 30px; width: 100%;">
                <div>
                    <span style="color: #714B67; font-size: 24px; font-weight: 500; display: block;">Screenshots</span>
                    <span
                            style="color: #714B67; font-size: 16px; font-weight: 400; color:#282F33;  display: block;">View
                        screenshots for this
                        module</span>
                </div>
                <img src="assets/misc/right-arrow.png" width="36" height="36"/>
            </div>
        </a>
    </div>
</div>
<!-- END OF NAVIGATION SECTION -->

<!-- OVERVIEW SECTION -->
<div class="d-flex align-items-center"
     style="border-bottom: 2px solid #714B67; padding: 15px 0px;" id="overview">
    <div class="d-flex justify-content-center align-items-center mr-2"
         style="background-color: #F5F5F5; border-radius: 0px; width: 40px; height: 40px;">
        <img src="assets/misc/pie-chart.png"/>
    </div>
    <h2 class="mt-2"
        style="font-family: 'Montserrat', sans-serif; font-size: 24px; font-weight: bold;">
        Overview
    </h2>
</div>
<div class="row"
     style="font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 14px; line-height: 200%;">
    <div class="col-sm-12 py-4">
        This module helps to add take image using the system camera and attach
        to the chatter.
    </div>
</div>
<!-- END OF OVERVIEW SECTION -->

<!-- FEATURES SECTION -->
<div class="d-flex align-items-center"
     style="border-bottom: 2px solid #714B67; padding: 15px 0px;" id="features">
    <div class="d-flex justify-content-center align-items-center mr-2"
         style="background-color: #F5F5F5; border-radius: 0px; width: 40px; height: 40px;">
        <img src="assets/misc/features.png"/>
    </div>
    <h2 class="mt-2"
        style="font-family: 'Montserrat', sans-serif; font-size: 24px; font-weight: bold;">
        Features
    </h2>
</div>
<div class="row"
     style="font-family: 'Montserrat', sans-serif; font-weight: 400; font-size: 14px; line-height: 200%;">
    <div class="col-sm-12 col-md-6">
        <div class="d-flex align-items-center"
             style="margin-top: 40px; margin-bottom: 40px">
            <img src="assets/misc/check-box.png" class="mr-2"/>
            <span style="font-family: 'Montserrat', sans-serif; font-size: 18px; font-weight: bold;">Community and Enterprise Support.</span>
        </div>
        <div class="d-flex align-items-center"
             style="margin-top: 30px; margin-bottom: 30px">
            <img src="assets/misc/check-box.png" class="mr-2"/>
            <span style="font-family: 'Montserrat', sans-serif; font-size: 18px; font-weight: bold;">Capture images from chatter</span>
        </div>
        <div class="d-flex align-items-center"
             style="margin-top: 30px; margin-bottom: 30px">
            <img src="assets/misc/check-box.png" class="mr-2"/>
            <span style="font-family: 'Montserrat', sans-serif; font-size: 18px; font-weight: bold;">Add corresponding images to chatter</span>
        </div>
    </div>
    <!-- END OF FEATURES SECTION -->
</div>
<!-- SCREENSHOTS SECTION -->
<div class="d-flex align-items-center"
     style="border-bottom: 2px solid #714B67; padding: 15px 0px;"
     id="screenshots">
    <div class="d-flex justify-content-center align-items-center mr-2"
         style="background-color: #F5F5F5; border-radius: 0px; width: 40px; height: 40px;">
        <img src="assets/misc/pictures.png"/>
    </div>
    <h2 class="mt-2"
        style="font-family: 'Montserrat', sans-serif; font-size: 24px; font-weight: bold;">
        Screenshots
    </h2>
</div>
<div class="row">
    <div class="col-sm-12">

        <div style="display: block; margin: 30px auto;">
            <h3 style="font-family: 'Montserrat', sans-serif; font-size: 18px; font-weight: bold;">
                After installing the module, you will see a camera
                button.</h3>
            <img src="assets/screenshots/image_chatter.png"
                 class="img-thumbnail">
        </div>

        <div style="display: block; margin: 30px auto;">
            <h3 style="font-family: 'Montserrat', sans-serif; font-size: 18px; font-weight: bold;">
                Click on that button.</h3>
            <p style="font-weight: 400; font-family: 'Montserrat', sans-serif; font-size: 14px;">
                By clicking on the
                camera button, you will see the camera opened and click on
                capture.</p>
            <img src="assets/screenshots/caapture.jpg"
                 class="img-thumbnail">
        </div>

        <div style="display: block; margin: 30px auto;">
            <h3 style="font-family: 'Montserrat', sans-serif; font-size: 18px; font-weight: bold;">
                Images will be added to chatter</h3>
            <img src="assets/screenshots/camera.png" class="img-thumbnail">
        </div>

    </div>
</div>
<!-- END OF SCREENSHOTS SECTION -->

<!-- SUGGESTED PRODUCTS -->
<div class="row">
    <div class="col-lg-12 d-flex flex-column justify-content-center"
         style="text-align: center; padding: 2.5rem 1rem !important;">
        <h2 style="color: #212529 !important;">Suggested Products</h2>
        <hr
                style="border: 3px solid #714B67 !important; background-color: #714B67 !important; width: 80px !important; margin-bottom: 2rem !important;"/>

        <div id="demo1" class="row carousel slide" data-ride="carousel">
            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active" style="min-height:0px">
                    <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16"
                         style="float:left">
                        <a href="https://apps.odoo.com/apps/modules/14.0/customer_sequence/"
                           target="_blank">
                            <div style="border-radius:10px">
                                <img class="img img-responsive center-block"
                                     style="border-top-left-radius:10px; border-top-right-radius:10px"
                                     src="./assets/modules/1.png">
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16"
                         style="float:left">
                        <a href="https://apps.odoo.com/apps/modules/14.0/barcode_scanning_sale_purchase/"
                           target="_blank">
                            <div style="border-radius:10px">
                                <img class="img img-responsive center-block"
                                     style="border-top-left-radius:10px; border-top-right-radius:10px"
                                     src="./assets/modules/2.png">
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16"
                         style="float:left">
                        <a href="https://apps.odoo.com/apps/modules/14.0/base_accounting_kit/"
                           target="_blank">
                            <div style="border-radius:10px">
                                <img class="img img-responsive center-block"
                                     style="border-top-left-radius:10px; border-top-right-radius:10px"
                                     src="./assets/modules/3.gif">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="carousel-item" style="min-height:0px">
                    <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16"
                         style="float:left">
                        <a href="https://apps.odoo.com/apps/modules/14.0/product_return_pos/"
                           target="_blank">
                            <div style="border-radius:10px">
                                <img class="img img-responsive center-block"
                                     style="border-top-left-radius:10px; border-top-right-radius:10px"
                                     src="./assets/modules/4.png">
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16"
                         style="float:left">
                        <a href="https://apps.odoo.com/apps/modules/14.0/point_of_sale_logo"
                           target="_blank">
                            <div style="border-radius:10px">
                                <img class="img img-responsive center-block"
                                     style="border-top-left-radius:10px; border-top-right-radius:10px"
                                     src="./assets/modules/5.png">
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16"
                         style="float:left">
                        <a href="https://apps.odoo.com/apps/modules/14.0/invoice_format_editor/"
                           target="_blank">
                            <div style="border-radius:10px">
                                <img class="img img-responsive center-block"
                                     style="border-top-left-radius:10px; border-top-right-radius:10px"
                                     src="./assets/modules/6.png">
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo1" data-slide="prev"
               style="left:-25px;width: 35px;color: #000;"> <span
                    class="carousel-control-prev-icon"><i
                    class="fa fa-chevron-left"
                    style="font-size:24px"></i></span> </a> <a
                class="carousel-control-next" href="#demo1"
                data-slide="next"
                style="right:-25px;width: 35px;color: #000;">
                    <span class="carousel-control-next-icon"><i
                            class="fa fa-chevron-right"
                            style="font-size:24px"></i></span>
        </a>
        </div>
    </div>
</div>
<!-- END OF SUGGESTED PRODUCTS -->

<!-- OUR SERVICES -->

<div class="d-flex align-items-center"
     style="border-bottom: 2px solid #714B67; padding: 15px 0px;">
    <div class="d-flex justify-content-center align-items-center mr-2"
         style="background-color: #F5F5F5; border-radius: 0px; width: 40px; height: 40px;">
        <img src="assets/misc/star.png"/>
    </div>
    <h2 class="mt-2"
        style="font-family: 'Montserrat', sans-serif; font-size: 24px; font-weight: bold;">
        Our Services
    </h2>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center my-4">
            <div class="d-flex justify-content-center align-items-center mx-3 my-3"
                 style="background-color: #1dd1a1 !important; border-radius: 15px !important; height: 80px; width: 80px;">
                <img src="assets/icons/cogs.png" class="img-responsive"
                     height="48px" width="48px">
            </div>
            <h6 class="text-center"
                style="font-family: Montserrat, 'sans-serif' !important; font-weight: bold;">
                Odoo
                Customization</h6>
        </div>

        <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center my-4">
            <div class="d-flex justify-content-center align-items-center mx-3 my-3"
                 style="background-color: #ff6b6b !important; border-radius: 15px !important; height: 80px; width: 80px;">
                <img src="assets/icons/wrench.png" class="img-responsive"
                     height="48px" width="48px">
            </div>
            <h6 class="text-center"
                style="font-family: Montserrat, 'sans-serif' !important; font-weight: bold;">
                Odoo
                Implementation</h6>
        </div>

        <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center my-4">
            <div class="d-flex justify-content-center align-items-center mx-3 my-3"
                 style="background-color: #6462CD !important; border-radius: 15px !important; height: 80px; width: 80px;">
                <img src="assets/icons/lifebuoy.png" class="img-responsive"
                     height="48px" width="48px">
            </div>
            <h6 class="text-center"
                style="font-family: Montserrat, 'sans-serif' !important; font-weight: bold;">
                Odoo
                Support</h6>
        </div>


        <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center my-4">
            <div class="d-flex justify-content-center align-items-center mx-3 my-3"
                 style="background-color: #ffa801 !important; border-radius: 15px !important; height: 80px; width: 80px;">
                <img src="assets/icons/user.png" class="img-responsive"
                     height="48px" width="48px">
            </div>
            <h6 class="text-center"
                style="font-family: Montserrat, 'sans-serif' !important; font-weight: bold;">
                Hire
                Odoo
                Developer</h6>
        </div>

        <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center my-4">
            <div class="d-flex justify-content-center align-items-center mx-3 my-3"
                 style="background-color: #54a0ff  !important; border-radius: 15px !important; height: 80px; width: 80px;">
                <img src="assets/icons/puzzle.png" class="img-responsive"
                     height="48px" width="48px">
            </div>
            <h6 class="text-center"
                style="font-family: Montserrat, 'sans-serif' !important; font-weight: bold;">
                Odoo
                Integration</h6>
        </div>

        <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center my-4">
            <div class="d-flex justify-content-center align-items-center mx-3 my-3"
                 style="background-color: #6d7680 !important; border-radius: 15px !important; height: 80px; width: 80px;">
                <img src="assets/icons/update.png" class="img-responsive"
                     height="48px" width="48px">
            </div>
            <h6 class="text-center"
                style="font-family: Montserrat, 'sans-serif' !important; font-weight: bold;">
                Odoo
                Migration</h6>
        </div>


        <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center my-4">
            <div class="d-flex justify-content-center align-items-center mx-3 my-3"
                 style="background-color: #786fa6 !important; border-radius: 15px !important; height: 80px; width: 80px;">
                <img src="assets/icons/consultation.png"
                     class="img-responsive" height="48px" width="48px">
            </div>
            <h6 class="text-center"
                style="font-family: Montserrat, 'sans-serif' !important; font-weight: bold;">
                Odoo
                Consultancy</h6>
        </div>

        <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center my-4">
            <div class="d-flex justify-content-center align-items-center mx-3 my-3"
                 style="background-color: #f8a5c2 !important; border-radius: 15px !important; height: 80px; width: 80px;">
                <img src="assets/icons/training.png" class="img-responsive"
                     height="48px" width="48px">
            </div>
            <h6 class="text-center"
                style="font-family: Montserrat, 'sans-serif' !important; font-weight: bold;">
                Odoo
                Implementation</h6>
        </div>

        <div class="col-lg-4 d-flex flex-column justify-content-center align-items-center my-4">
            <div class="d-flex justify-content-center align-items-center mx-3 my-3"
                 style="background-color: #e6be26 !important; border-radius: 15px !important; height: 80px; width: 80px;">
                <img src="assets/icons/license.png" class="img-responsive"
                     height="48px" width="48px">
            </div>
            <h6 class="text-center"
                style="font-family: Montserrat, 'sans-serif' !important; font-weight: bold;">
                Odoo
                Licensing Consultancy</h6>
        </div>
    </div>

</div>

<!-- END OF OUR SERVICES -->

<!-- OUR INDUSTRIES -->

<div class="d-flex align-items-center"
     style="border-bottom: 2px solid #714B67; padding: 15px 0px;">
    <div class="d-flex justify-content-center align-items-center mr-2"
         style="background-color: #F5F5F5; border-radius: 0px; width: 40px; height: 40px;">
        <img src="assets/misc/corporate.png"/>
    </div>
    <h2 class="mt-2"
        style="font-family: 'Montserrat', sans-serif; font-size: 24px; font-weight: bold;">
        Our
        Industries
    </h2>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col-lg-3">
            <div class="my-4 d-flex flex-column justify-content-center"
                 style="background-color: #f6f8f9 !important; border-radius: 0px; padding: 2rem !important; height: 250px !important;">
                <img src="assets/icons/trading-black.png"
                     class="img-responsive mb-3" height="48px" width="48px">
                <h5 style="font-family: Montserrat, sans-serif !important; color: #000 !important; font-weight: bold;">
                    Trading
                </h5>
                <p style="font-family: Montserrat, sans-serif !important; font-size: 0.9rem !important;">
                    Easily procure
                    and
                    sell your products</p>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="my-4 d-flex flex-column justify-content-center"
                 style="background-color: #f6f8f9 !important; border-radius: 0px; padding: 2rem !important; height: 250px !important;">
                <img src="assets/icons/pos-black.png"
                     class="img-responsive mb-3" height="48px" width="48px">
                <h5 style="font-family: Montserrat, sans-serif !important; color: #000 !important; font-weight: bold;">
                    POS
                </h5>
                <p style="font-family: Montserrat, sans-serif !important; font-size: 0.9rem !important;">
                    Easy
                    configuration
                    and convivial experience</p>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="my-4 d-flex flex-column justify-content-center"
                 style="background-color: #f6f8f9 !important; border-radius: 0px; padding: 2rem !important; height: 250px !important;">
                <img src="assets/icons/education-black.png"
                     class="img-responsive mb-3" height="48px" width="48px">
                <h5 style="font-family: Montserrat, sans-serif !important; color: #000 !important; font-weight: bold;">
                    Education
                </h5>
                <p style="font-family: Montserrat, sans-serif !important; font-size: 0.9rem !important;">
                    A platform for
                    educational management</p>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="my-4 d-flex flex-column justify-content-center"
                 style="background-color: #f6f8f9 !important; border-radius: 0px; padding: 2rem !important; height: 250px !important;">
                <img src="assets/icons/manufacturing-black.png"
                     class="img-responsive mb-3" height="48px"
                     width="48px">
                <h5 style="font-family: Montserrat, sans-serif !important; color: #000 !important; font-weight: bold;">
                    Manufacturing
                </h5>
                <p style="font-family: Montserrat, sans-serif !important; font-size: 0.9rem !important;">
                    Plan, track and
                    schedule your operations</p>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="my-4 d-flex flex-column justify-content-center"
                 style="background-color: #f6f8f9 !important; border-radius: 0px; padding: 2rem !important; height: 250px !important;">
                <img src="assets/icons/ecom-black.png"
                     class="img-responsive mb-3" height="48px" width="48px">
                <h5 style="font-family: Montserrat, sans-serif !important; color: #000 !important; font-weight: bold;">
                    E-commerce &amp; Website
                </h5>
                <p style="font-family: Montserrat, sans-serif !important; font-size: 0.9rem !important;">
                    Mobile
                    friendly,
                    awe-inspiring product pages</p>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="my-4 d-flex flex-column justify-content-center"
                 style="background-color: #f6f8f9 !important; border-radius: 0px; padding: 2rem !important; height: 250px !important;">
                <img src="assets/icons/service-black.png"
                     class="img-responsive mb-3" height="48px" width="48px">
                <h5 style="font-family: Montserrat, sans-serif !important; color: #000 !important; font-weight: bold;">
                    Service Management
                </h5>
                <p style="font-family: Montserrat, sans-serif !important; font-size: 0.9rem !important;">
                    Keep track of
                    services and invoice</p>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="my-4 d-flex flex-column justify-content-center"
                 style="background-color: #f6f8f9 !important; border-radius: 0px; padding: 2rem !important; height: 250px !important;">
                <img src="assets/icons/restaurant-black.png"
                     class="img-responsive mb-3" height="48px" width="48px">
                <h5 style="font-family: Montserrat, sans-serif !important; color: #000 !important; font-weight: bold;">
                    Restaurant
                </h5>
                <p style="font-family: Montserrat, sans-serif !important; font-size: 0.9rem !important;">
                    Run your bar or
                    restaurant methodically</p>
            </div>
        </div>

        <div class="col-lg-3">
            <div class="my-4 d-flex flex-column justify-content-center"
                 style="background-color: #f6f8f9 !important; border-radius: 0px; padding: 2rem !important; height: 250px !important;">
                <img src="assets/icons/hotel-black.png"
                     class="img-responsive mb-3" height="48px" width="48px">
                <h5 style="font-family: Montserrat, sans-serif !important; color: #000 !important; font-weight: bold;">
                    Hotel Management
                </h5>
                <p style="font-family: Montserrat, sans-serif !important; font-size: 0.9rem !important;">
                    An
                    all-inclusive
                    hotel management application</p>
            </div>
        </div>
    </div>
</div>

<!-- END OF OUR INDUSTRIES -->

<!-- SUPPORT -->
<div class="d-flex align-items-center"
     style="border-bottom: 2px solid #714B67; padding: 15px 0px;">
    <div class="d-flex justify-content-center align-items-center mr-2"
         style="background-color: #F5F5F5; border-radius: 0px; width: 40px; height: 40px;">
        <img src="assets/misc/customer-support.png"/>
    </div>
    <h2 class="mt-2"
        style="font-family: 'Montserrat', sans-serif; font-size: 24px; font-weight: bold;">
        Support
    </h2>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div style="background-color: #F6F8F9; padding: 30px; display: flex; align-items: center;">
                <div class="mr-4"
                     style="background-color: #714B67; display: inline-block; height: 70px; width: 70px; display: flex; align-items: center; justify-content: center;">
                    <img src="assets/misc/support.png" height="48"
                         width="48" style="width: 42px; height: 42px;"/>
                </div>
                <div>
                    <h4>Need Help?</h4>
                    <p style="line-height: 100%;">Got questions or need
                        help? Get in touch.</p>
                    <a href="mailto:odoo@cybrosys.com">
                        <p style="font-weight: 400; font-size: 28px; line-height: 80%; color: #714B67;">
                            odoo@cybrosys.com</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div style="background-color: #F6F8F9; padding: 30px; display: flex; align-items: center;">
                <div class="mr-4"
                     style="background-color: #2AC44D; display: inline-block; height: 70px; width: 70px; display: flex; align-items: center; justify-content: center;">
                    <img src="assets/misc/whatsapp.png" height="52"
                         width="52" style="width: 52px; height: 52px;"/>
                </div>
                <div>
                    <h4>WhatsApp</h4>
                    <p style="line-height: 100%;">Say hi to us on
                        WhatsApp!</p>
                    <a href="https://api.whatsapp.com/send?phone=918606827707">
                        <p style="font-weight: 400; font-size: 28px; line-height: 80%; color: #714B67;">
                            +91 86068
                            27707</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 my-5 d-flex justify-content-center align-items-center">
            <img src="assets/misc/logo.png" width="144" height="31"
                 style="width:144px; height: 31px; margin-top: 40px;"/>
        </div>
    </div>
</div>
<!-- END OF SUPPORT -->