.heading{
    color: #fff6f8;
    background: #575758;
    font-size: 47px;
    font-weight: bold;
}
.search_bar{
    margin-left: 47px;
    border-radius: 15px;
}
.search_container{
    background: #9c9a9a
}
#sub_temp{
    background: #e9e9f1;
}
#category_template{
    background: #e9e9f1;
}
#table_header {
  background-color: #bababa;
  color: white;
}
#table_row:nth-child(even){background-color: #ededed}
#category_table:nth-child(even){background-color: #c3c3c3}
